
<h3 class="text-center text-success">
    Sepetiniz
</h3>
<hr>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Adet</th>
            <th>Tutar</th>
            <th>İşlemler</th >
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th></th>
            <th></th>
            <th>Toplam</th>
            <th></th>
            <th></th>
        </tr>
    </tfoot>
</table>
<div class="form-group text-center">
    <button class="btn btn-success">
        Ödeme Yap
    </button>
</div>